#signUpModal h2, #signUpModal label {
  color: #000;
}

#signInModal h2, #signInModal label {
  color: #000;
}

#signUpModal abbr {
  color: #000;
}

.picker__footer button {
  color: #000;
}

.fi-play-video {
   font-size: 80px;
}

.fi-pencil {
  font-size: 80px;
}

.fi-clock {
  font-size: 80px;
}

.center-text {
  text-align: center;
}

.top-padding {
  padding-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px; /* choose any height */
}
