#signUpModal h2, #signUpModal label {
  color: #000;
}

#signInModal h2, #signInModal label {
  color: #000;
}

#signUpModal abbr {
  color: #000;
}

.picker__footer button {
  color: #000;
}

.fi-play-video {
   font-size: 80px;
}

.fi-pencil {
  font-size: 80px;
}

.fi-clock {
  font-size: 80px;
}

.center-text {
  text-align: center;
}

.top-padding {
  padding-top: 50px;
}

html, body{
  height: 100%
}

#holder{
  min-height: 100%;
  position: relative;
}

#body{
  padding-bottom: 20px; /* height of footer */
}

footer {
  position: absolute;
  width: 100%;
  height: 20px; /* choose any height */
  bottom: 0;
  background-color: #333333;
  text-align: center;
}
